body {

    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clear-fix {
    clear: both;
}

.container {
    margin: auto;
    width: 80%;
}

.image {
    background-image: url(../images/drew-coffman-1872.jpg);
    height: 100vh;
    background-size: 100% 100%;
}

.image .navbar {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;

}

.image .navbar .navimage img {
    width: 80px;
}

.image .navbar .navimage {
    float: left;
}

.image .navbar .navlink {
    float: right;
    list-style-type: none;
    padding-top: 10px;
}

.image .navbar .navlink li {
    float: left;
    padding: 0px 8px;
}

.image .navbar .navlink li a {
    color: white;
    text-decoration: none;
}

.content {
    text-align: center;
    color: beige;
    padding-top: 250px;
}

.big {
    font-size: 34px;
    margin-bottom: 18px;

}

.content p {
    margin-bottom: 18px;
    font-size: 20px;
}

.content h1 {
    font-size: 64px;
    margin-bottom: 18px;
    font-weight: 900;
}

.content p .class {
    font-size: 40px;
    padding: 15px;
    margin-bottom: 20px;
}

.content button {
    padding: 20px 20px;
    border-radius: 5px;
    color: white;
}

.beige {
    background-color: #8e7754;
    border: none;
}

.us {
    background-color: transparent;
    border-color: white;
}

.story .story-image {
    float: left;
    width: 30%;
}

.story .story-image img {
    width: 650px;
    padding: 50px;
}

.story .story-caption {
    float: right;
    width: 55%;
    text-align: justify;
    padding-top: 150px;
    color: #686868;
}

.story .story-caption h4 {
    margin-bottom: 20px;
    text-align: justify;
    color: black;
    font-size: 30px;
    margin-left: 100px;
}

.story .story-caption p {
    text-align: justify;
    margin-left: 30px;
    padding: 0 60px;
}

.icon {
    padding-left: 80px;
    padding-top: 10px;
}

.story-caption .icon a {
    text-decoration: none;
    width: 80%;
    list-style-type: circle;
    color: #686868;
    text-align: center;
}

.loc-img img {
    max-width: 100%;


}

.loc-img,
.location {
    width: 70%;
}

.location {
    padding: 20px 15px;
    margin-top: 70px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 24px;
}

.our-location {
    display: flex;
    width: 100%;
    background-color: rgb(243, 238, 238)
}

.our-location h4 {
    padding-bottom: 30px;
    font-size: 32px;
    padding-top: 60px;
    padding-left: 40px;
}

.our-location p {
    font-size: 16px;
    color: #686868;
    padding-left: 40px;
}

.loc-img {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-left: 40px;
    padding-right: 30px;

}

.our-baking {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bread {
    text-align: center;
    width: 32.5%;
    display: inline-block;
}

.bread img {
    width: 80%;
}

.our-baking .title {
    font-size: 32px;
    margin-bottom: 15px;
}

.our-baking p {
    color: rgb(133, 132, 132);
    font-size: 20px;
}

.bread h2 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.bread p {
    color: rgb(112, 110, 110);
    font-size: 20px;
    padding-bottom: 30px;
}

.info {
    text-align: justify;
    width: 40%;
    padding-left: 40px;
    display: inline-block;
    background-color: rgb(243, 238, 238)
}

.info h1 {
    padding-bottom: 15px;
    padding-top: 50px;

}

.info p {
    width: 100%;
    color: #666666;
    font-size: 18px;

}

.map-container {
    width: 60%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    float: right;
    background-color: white;
    margin-top: 10px;
    background-color: rgb(243, 238, 238)
}

iframe {
    width: 90%;
    float: right;
    border: none;
    padding-left: 70px;
    padding-right: 40px;

}

.bg {
    background-color: rgb(243, 238, 238)
}

.all {
    background-color: #4d4d4d;
    width: 100%;
}

.hours {
    text-align: justify;
    width: 20%;
    display: inline-block;
    margin-left: 40px;
    font-size: 18px;
    padding-bottom: 70px;
    padding-top: 50px;
    color: #c4c4c4;
}

.hours h3 {
    color: white;
    padding-bottom: 15px;
}
.hours .ay-7aga a {
    text-decoration: none;
    color: white;
    font-size: 16px;

}
.hours {
    padding-bottom: 20px;
}
.last-page{
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 80px;
    background-color: #494747;
}
.last-page img {
    width:20%;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 25px;
    
}
.last-page p {
    color: #7a7a7a;
    margin-bottom: 100px;
    padding-bottom: 100px;
}


